fastapi
uvicorn[standard]
pydantic
pydantic-settings
motor
chromadb
langchain
langchain-groq
groq
python-dotenv
motor-types
pytest
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pymupdf
pdfplumber
fastembed
langgraph
email-validator
langchain-text-splitters
langchain-community